/* Write your CSS here */
.about-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}

.about-img {
  height: 150px;
  background-size: cover;
}

.about-heading {
  color: #ffffff;
  font-size: 30px;
  font-weight: 500;
}
