/* Write your CSS here */
.about-container-dark {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}

.about-img {
  height: 150px;
  background-size: cover;
}

.about-heading-dark {
  color: #ffffff;
  font-size: 30px;
  font-weight: 500;
}

.about-heading-light {
  color: #000000;
  font-size: 30px;
  font-weight: 500;
}

.about-container-light {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
